/* src/pages/blockchain/UnconfirmedTransactions.css */

.transactions-container {
    padding: 20px;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
}

.transactions-table th,
.transactions-table tr,
.transactions-table td {
    border: 1px solid black;
    padding: 10px;
    color: #000;
}

.transactions-table tr:hover {
    background-color: #f9f9f9;
}

.transactions-container h2 {
    color: #000;
}

.tooltip {
    position: relative;
    cursor: pointer;
    color: #2980b9;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position above the text */
    left: 50%;
    margin-left: -100px;
    /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.transaction-details {
    display: flex;
    gap: 20px;
}

.inputs,
.outputs {
    flex: 1;
}

.icon {
    margin-right: 5px;
}